<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<style>
  .login  {
    /* background-color: blue; */
    text-align: left;
  }
  .btn {
    border: 10px;
  }
  .input-group {
    padding: 10px;
  }
  .input {
    border-radius:10px;
    padding: 5px;
    margin-left: 20px;
  }

</style>
</head>

<body>
  <h1>Heart Disease Prediction</h1>
 <div class="login">
	

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
      <div class="input-group">
        <label for="age">Age:</label>
        <input class="input" type="number" id="age" name="age" min="1" max="120" placeholder="20" required style="background-color: white; height: 27px; width: 100px;">
      </div>
      <div class="input-group">
        <label for="sex">Sex:</label>
        <select id="sex" name="sex" required class="input">
          <option value="1">Male</option>
          <option value="0">Female</option>
        </select>
      </div>
      
      <div class="input-group">
        <label for="Chest Pain Type">Chest Pain Type:</label>
        <select id="CP" name="CP" required class="input">
          <option value="0">Typical angina</option>
          <option value="1">Atypical angina</option>
          <option value="2">Non-Anginal</option>
          <option value="3">Asymptomatic</option>
        </select>
      </div>
      <div class="input-group">
        <label for="Rest BP (mm/HG)">Rest BP (mm/HG):</label>
        <input placeholder="80" class="input" type="number" id="Rest BP (mm/HG)" name="Rest BP (mm/HG)" min="1" max="1200" required style="background-color: white; height: 27px; width: 100px;">
      </div>

      <div class="input-group">
        <label for="Cholestrol lvls (mg/dl)">Cholestrol lvls (mg/dl):</label>
        <input placeholder="120" class="input" type="number" id="Cholestrol lvls (mg/dl)" name="Cholestrol lvls (mg/dl)" min="1" max="1200" required style="background-color: white; height: 27px; width: 100px;">
      </div>
      
      <div class="input-group">
        <label for="BloodSugar on fast(mg/dl)">Blood Sugar lvls on fast(mg/dl):</label>
        <select class="input" id="Blood Sugar on fast(mg/dl)" name="Blood Sugar on fast(mg/dl)" required>
          <option value="1"> > 120 mg/dl </option>
          <option value="0"> <= 120 mg/dl </option>
        </select>
      </div>

      
      <div class="input-group">
        <label for="REST ECG">REST ECG:</label>
        <select class="input" id="REST ECG" name="REST ECG" required>
          <option value="0">Normal</option>
          <option value="1">Having ST-T wave Abnormality(T wave inversions and/or ST elevation or depression of >
            0.05 mV)</option>
          <option value="2">Showing probable or definite left ventricular hypertrophyby Estes' criteria (Nominal)</option>
        </select>
      </div>


      <div class="input-group">
        <label for="Thalch (Max Heart-Rate)">Thalch (Max Heart-Rate):</label>
        <input placeholder="80" class="input" type="number" id="Thalch (Max Heart-Rate)" name="Thalch (Max Heart-Rate)" min="1" max="3200" required style="background-color: white; height: 27px; width: 100px;">
      </div>
      
      
      <div class="input-group">
        <label for="Exang Angina Induced by Exercise">Exang Angina Induced by Exercise:</label>
        <select class="input" id="Exang Angina Induced by Exercise" name="Exang Angina Induced by Exercise" required>
          <option value="1">Yes</option>
          <option value="0">No</option>
        </select>
      </div>

      
      <div class="input-group">
        <label for="Oldpeak: Refers to exercise-induced ST-depression compared to the resting state.">Oldpeak:Refers to exercise-induced ST-depression compared to the resting state.</label>
        <input placeholder="2" class="input" type="number" id="Oldpeak:Refers to exercise-induced ST-depression compared to the resting state." name="Oldpeak:Refers to exercise-induced ST-depression compared to the resting state." min="1" step="0.01" max="120" required style="background-color: white; height: 27px; width: 100px;">
      </div>

      
      <div class="input-group">
        <label for="Slope: ST segment measured in terms of slope during peak exercise">Slope: ST segment measured in terms of slope during peak exercise</label>
        <select class="input" id="Slope: ST segment measured in terms of slope during peak exercise" name="Slope: ST segment measured in terms of slope during peak exercise" required>
          <option value="0">Up Sloping</option>
          <option value="1">Flat</option>
          <option value="2">Down Sloping</option>
        </select>
      </div>

      
      <div class="input-group">
        <label for="CA: The number of major vessels">CA: The number of major vessels</label>
        <select class="input" id="CA: The number of major vessels" name="CA: The number of major vessels" required>
          <option value="0">0</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
        </select>
      </div>

      
      <div class="input-group">
        <label for="Thal: A blood disorder called thalassemia">Thal: A blood disorder called thalassemia</label>
        <select class="input" id="Thal: A blood disorder called thalassemia" name="Thal: A blood disorder called thalassemia" required>
          <option value="0">NULL</option>
          <option value="1">Normal blood flow</option>
          <option value="2">Fixed defect (No Blood Flow in some part of the Heart) </option>
          <option value="3">Reversible defect (A Blood Flow is observed but it is not normal) </option>
        </select>
      </div>
      
      <button type="submit" class="btn btn-primary btn-block btn-large" style="width: 50%; margin-left: 25%;margin-top: 15px;">Predict</button>
      <br>
      <br>
      <div class="input" style="text-align: center;">
        <style>
          table {
            margin: 0 auto;
            border-collapse: collapse;
            width: 80%; /* Adjust the width as per your preference */
          }
        
          th, td {
            padding: 10px 15px;
            text-align: left;
            border-bottom: 1px solid #ddd;
          }
        
          th {
            /* background-color: #f2f2f2; */
            font-size: 18px;
          }
        
          td {
            font-size: 16px;
          }
        </style>
        
        <table>
          <thead>
            <tr>
              <th>Model Name</th>
              <th>Prediction</th>
              <th>Accuracy (Bagging)</th>
              <th>Accuracy (Boosting)</th>
            </tr>
          </thead>
          <tbody>
            {% for result in results %}
              <tr>
                <td>{{ result['Model Name'] }}</td>
                <td>{{ result['Prediction'] }}</td>
                <td>{{ result['BGAC'] }}</td>
                <td>{{ result['BOCD'] }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        
      </div>
      
    </form>
    
  

 </div>


</body>
</html>
